# Base URL of your .NET Web API, no trailing slash.
# Example: https://api.se-one.com  or  https://localhost:5001
NEXT_PUBLIC_API_BASE_URL=https://seone-2kvmzopjp-sepantas-projects-2daff1c9.vercel.app
